/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/04/2022, 20:49:32
    Author     : eduee
*/
body{
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    background-color:#363636;
    color:white;
}
a{
    text-decoration: none; 
    color: white; 
}

a.nav-link{
      margin-right:190px;
      
      
}
.navbar-brand{
    margin-right: 105px;
    padding-right:  80px;
    padding-left:  130px;
}


h2.fc {
    margin-top:100px; 
    color: white;
/*    font-family: "time new romam";*/
}
.table{
    background-color:	#808080; 
}
.h2In{
    color: white; 
/*    font-family: "time new romam";*/
}
.p{
    color: white; 
/*    font-family: "time new romam";*/

    word-wrap: break-word;
    width:540px;
    text-align: center; 
    padding-left:  120px;
}


.icones{
    font-size:20px;
    margin-right: 10px;
}
.icone2{
    font-size:20px;
    margin-right: 10px;
}
.icone3{
    font-size:20px;
    margin-right: 10px;
}
.sr-only{
    font-size:20px;
    width:50px;
    margin-right: 10px;

}
.icone6{
    width:50px;
    height:80px;
    margin-right: 10px;

}

#btn{
    margin-left:10%;
    margin-top: 5%;
    
}
.txt{
    margin-right: 15px;
    text-align: justify;
    width: 95%;
    margin-left: 5%;
}#btnEntrar{
    margin-left: 100px; 
      z-index: 10;
      text-align: center;
}